<!-- <h4>Create a new post!</h4> -->
<div class="container">
  <h2>Adventures in Rails Forms</h2>
</div>

<div>
  <h4>Pure HTML</h4>
  <form action="/posts" method="POST">
    Title: <input type="text" name="my_title">
    <br>
    <input type="submit" class="btn btn-primary">
  </form>
</div>
<hr>
<div>
  <h4>Rails form helpers</h4>
  <%= form_tag '/posts' do %>
    <%= label_tag :title %>
    <%= text_field_tag :title %>
    <br>
    <%= submit_tag "Create Post", class: "btn btn-primary" %>
  <% end %>
</div>

<hr>


<div>
  <h4>Rails model-backed form helpers</h4>
  <% if @post.errors.any? %>
    <h5>There were some errors:</h5>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
      <% end %>
  <% end %>
    </ul>

  <%= form_for @post do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>

    <%= f.label :url %>
    <%= f.text_field :url %>
    <br>

    <%= f.submit "Create Post", class: 'btn btn-primary' %>
  <% end %>

</div>
